@import './../../variables.scss';

.footer {
	display: grid;
	justify-content: center;
    text-align: center;
	align-items: center;
	min-height: 100px;
	padding: 20px 10px;

	@media  screen and (min-width: $desktop) {
		display: flex;

		a:not(:first-of-type) {
			margin-left: 20px;
		}
	}
}