@import "./../../variables.scss";

.footer {
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: blue;
	font-family: $primary-font;
	font-weight: 600;
	color: $white;
	border-radius: 5px 5px 0 0;

	min-height: 100px;
	padding: 20px 10px;
	min-width: 100%;
	font-size: 12px;

	&__wrapper {
		min-width: 100%;
	}

	&__nav {
		display: grid;
		justify-content: center;
		text-align: center;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-bottom: 10px;

		li a {
			transition: 0.3s ease-in-out;
			color: $white;

			&:hover {
				opacity: 0.5;

			}
		}

		@media screen and (min-width: $middle) {
			display: flex;
			font-size: 16px;

			li:not(:first-of-type) a {
				margin-left: 20px;
			}
		}
	}

	&__rights {
		font-family: $default-font;
		font-weight: 400;
	}
}
