@import './../../variables.scss';

.footer {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100px;
  padding: 20px 10px;
  min-width: 100%;

  &__wrapper {
    min-width: 100%;
  }

  &__nav {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;

    @media screen and (min-width: $desktop) {
      display: flex;

      li:not(:first-of-type) a {
        margin-left: 20px;
      }
    }
  }
}
