@import "./../../variables.scss";
@import "./../../../../app/mixins.scss";
.footer {
	background-color: $blue;
	@include gridCenter;
	@include font($family: $default-font, $size: 12px, $weight: 600, $color: $white);
	min-height: 100px;
	padding: 20px 10px;
	min-width: 100%;

	&__wrapper {
		min-width: 100%;
	}

	&__nav {
		@include gridCenterGapColumns(10px, 1fr 1fr);
		margin-bottom: 10px;

		li a {
			transition: 0.3s ease-in-out;
			color: $white;
			&:hover {
				opacity: 0.5;
			}
		}

		@media screen and (min-width: $middle) {
			display: flex;
			font-size: 16px;

			li:not(:first-of-type) a {
				margin-left: 20px;
			}
		}
	}

	&__rights {
		@include font($family: $default-font, $weight: 400);
	}
}
