@import '@/../../../components/globals/variables.scss';

.formAuth {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
	border-radius: 5px;
	background: #c9c9c9;
	width: 400px;

	button[type='submit'] {
		border: 1px solid $blue;
		background-color: $blue;
		padding: 10px;
		color: $white;
		font-family: $default-font;
		font-weight: 600;
		font-size: 16px;
		transition: 0.3s ease-in-out;
		cursor: pointer;
		border-radius: 5px;
		transition: 0.3s;

		&:hover {
			background: black;
		}
	}

	label {
		font-size: 14px;
	}

	input {
		height: 30px;
		border-radius: 5px;
		border: 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}
