@import "@/../../../globals/variables.scss";
@import "@/../../../../app/mixins.scss";

.pagination {
	@include flex($justify: center, $gap: 20px, $wrap: wrap, $grow: 1);
	margin: 0 auto;
	min-height: 100%;

	ul {
		@include flex($alignS: flex-end, $gap: 10px, $margin: 10px 0);

		li {
			@include HWidth-MPadding-br($min-height: 50px, $min-width: 50px, $borderRadius: 5px);
			text-align: center;
			background-color: $blue;
			transition: $base-transition;
			cursor: pointer;
			display: flex;

			&:hover {
				background-color: $white;
				a {
					color: $blue;
				}
			}

			a {
				color: $white;
				padding: 10px;
				min-width: 100%;
				min-height: 100%;
			}
		}

		.pageItemActive {
			background-color: $white;
			border: 1px solid $blue;

			a {
				color: $blue;
			}
		}
		.pageItem {
			background-color: $blue;
		}
	}
}
