@import "../variables";
@import "../../../app/mixins";

.card {
	border-radius: 5px;
	background: $purple-light;
	display: flex;
	flex-basis: 90%;

	@media screen and (min-width: $phone-md) {
		flex-basis: 45%;
	}

	@media screen and (min-width: $middle) {
		flex-basis: 30%;
	}

	@media screen and (min-width: $desktop) {
		flex-basis: 20%;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px min-content;
		@include HWidth-MPadding-br($min-height: 300px, $width: 100%);
	}
	cursor: pointer;
	transition: $base-transition;

	&__buttons {
		@include flex($alignI: center, $justify: space-between, $gap: 10px);
		@include HWidth-MPadding-br($min-width: 100%, $padding: 10px);
		button[type="button"] {
			background-color: $blue;
			@include HWidth-MPadding-br($min-width: 10px, $min-height: 40px);
			@include font($color: $white, $family: $primary-font, $weight: $bold);
			@include flex($justify: center, $alignI: center, $gap: 10px);

			span {
				display: none;
			}

			@media screen and (min-width: $middle) {
				@include HWidth-MPadding-br($min-width: 100px, $min-height: 40px);
				span {
					display: inline;
				}
			}
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.card:hover {
	box-shadow: $black-1 0px 3px 8px;

	.cardPicture img {
		transform: scale(1.05);
	}
}

.cardPicture {
	@include HWidth-MPadding-br($height: 100%, $width: 100%, $borderRadius: 5px);
	position: relative;
	overflow: hidden;
}

.cardPicture img {
	object-fit: cover;
	object-position: center;
	transition: $base-transition;
	@include HWidth-MPadding-br($max-height: 100%, $width: 100%, $borderRadius: 5px 5px 0 0);
}

.cardInfo {
	@include HWidth-MPadding-br($padding: 10px, $borderRadius: 5px);
	background: $purple-light;
	@include font($family: $default-font, $weight: $regular);
	&__price {
		font-weight: $bold;
	}
}
