@import "./../components/globals/variables";
@mixin button($width, $height, $colorFont, $colorBackground, $font: $primary-font, $fontWeight: 600) {
	min-height: $width;
	min-width: $height;
	color: $colorFont;
	background-color: $colorBackground;
	font-family: $font;
	font-weight: $fontWeight;
	border: 1px solid transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	transition: 0.3s ease-in-out;
}

@mixin flexColumnSpaceBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@mixin flexCenterWrapGap($gap) {
	display: flex;
	justify-content: center;
	gap: $gap;
	flex-wrap: wrap;
}
@mixin flex(
	$direction: null,
	$justify: null,
	$justifyI: null,
	$align: null,
	$alignI: null,
	$wrap: null,
	$grow: null,
	$gap: null,
	$padding: null,
	$margin: null,
	$alignS: null
) {
	display: flex;
	@if $direction {
		flex-direction: $direction;
	}
	@if $gap {
		gap: $gap;
	}
	@if $wrap {
		flex-wrap: $wrap;
	}
	@if $justify {
		justify-content: $justify;
	}
	@if $justifyI {
		justify-content: $justifyI;
	}
	@if $align {
		align-content: $align;
	}
	@if $alignI {
		align-items: $alignI;
	}
	@if $alignS {
		align-self: $alignS;
	}
	@if $padding {
		padding: $padding;
	}
	@if $margin {
		margin: $margin;
	}
	@if $grow {
		flex-grow: $grow;
	}
}
@mixin grid(
	$justify: null,
	$justifyI: null,
	$align: null,
	$alignI: null,
	$wrap: null,
	$gap: null,
	$gridColumn: null,
	$padding: null,
	$margin: null
) {
	display: grid;
	@if $gap {
		gap: $gap;
	}
	@if $wrap {
		flex-wrap: $wrap;
	}
	@if $gridColumn {
		grid-column: $gridColumn;
	}
	@if $justify {
		justify-content: $justify;
	}
	@if $justifyI {
		justify-content: $justifyI;
	}
	@if $align {
		align-content: $align;
	}
	@if $alignI {
		align-items: $alignI;
	}
	@if $padding {
		padding: $padding;
	}
	@if $margin {
		margin: $margin;
	}
}

@mixin gridCenterGapColumns($gap, $columns) {
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
	grid-template-columns: $columns;
	gap: $gap;
}

@mixin gridCenter() {
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
}

@mixin font($family: null, $size: null, $weight: null, $color: null, $transform: null, $align: null) {
	@if $family {
		font-family: $family;
	}
	@if $size {
		font-size: $size;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $color {
		color: $color;
	}
	@if $transform {
		text-transform: $transform;
	}
	@if $align {
		text-align: $align;
	}
}

@mixin HWidth-MPadding-br(
	$height: null,
	$width: null,
	$min-height: null,
	$min-width: null,
	$max-height: null,
	$max-width: null,
	$padding: null,
	$margin: null,
	$borderRadius: null
) {
	@if $height {
		height: $height;
	}
	@if $width {
		width: $width;
	}
	@if $min-height {
		min-height: $min-height;
	}
	@if $min-width {
		min-width: $min-width;
	}
	@if $max-height {
		max-height: $max-height;
	}
	@if $max-width {
		max-width: $max-width;
	}
	@if $padding {
		padding: $padding;
	}
	@if $margin {
		margin: $margin;
	}
}

@mixin position($position: null, $top: null, $bottom: null, $left: null, $right: null, $z-index: null) {
	@if $position {
		position: $position;
	}
	@if $top {
		top: $top;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $left {
		left: $left;
	}
	@if $right {
		right: $right;
	}
	@if $z-index {
		z-index: $z-index;
	}
}
