@import './../../variables.scss';

.header {
	padding: 10px 20px;
	background-color: $blue;

	&__form {
		border: 1px solid #000000;
		min-height: 40px;
		display: flex;
			
		@media  screen and (min-width: $desktop) {
			margin: 10px 10px;
			flex-grow: 1;
		}

		input{
			min-height: inherit;
			border: none;
			width: 100%;

		};

		button {
			cursor: pointer;
			border: none;
			background-color: $orange;
			transition: 0.3s ease-in-out;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.nav {
	padding: 10px 10px;
	display: grid;
	align-items: center;
	justify-content: center;

	@media  screen and (min-width: $desktop) {
		justify-content: space-between;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list,
	&__auth {
		display: grid;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 20px;

		li a {
			color: $black;
			transition: 0.3s ease-in-out;

			&:hover {
				opacity: 0.5;
			}
		}

		li:not(:first-of-type) a {

			@media  screen and (min-width: $desktop) {
				margin-left: 20px;
			}
		}

		@media  screen and (min-width: $desktop) {
			display: flex;
			justify-content: flex-start;
		}
	}

	&__list {
		display: none;

		@media  screen and (min-width: $desktop) {
			display: flex;
			justify-content: flex-start;
		}
	}

	&__auth {
		display: flex;
		grid-row: 1/-1;
		min-width: max-content;
		margin-bottom: 10px;

		li a {
			display: grid;
			align-items: center;
			justify-items: center;
		}
	}

	&__wrapper {
		display: grid;
		grid-column: 1/4;
		align-items: center;
		transition: 0.3s ease-in-out;
		height: 0;
		overflow: hidden;
		margin-top: 20px;
	
		&.active {
			height: 100%;
			transition: 0.5s ease-in-out;
			// min-width: 100%;
		}

		@media  screen and (min-width: $middle) {
			display: flex;
			justify-content: space-between;
			// min-width: 100%;
			grid-column: 1/-1;
			margin-top: 0;
		}
	}

	&__btn {
		width: 25px;
		height: 40px;
		background: transparent;
		cursor: pointer;
		border: none;
		transition: 0.3s ease-in-out;
		display: none;

		span:first-of-type {
			width: inherit;
			height: 2px;
			display: block;
			background: $black;
			box-shadow: 0 6px 0 $black, 0 -6px 0 $black;
		}

		&:hover {
			opacity: 0.8;
		}

		@media  screen and (min-width: $middle) {
			width: 40px;
			height: 40px;
		}

		@media  screen and (min-width: $desktop) {
			display: none;
		}
	}
}

