@import "../../../components/globals/variables.scss";

.product {
	color: $blue;
	border: 2px solid $blue;

	&__image {
		background-image: url("../../../../public/preloader.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		margin: auto;
		min-width: 200px;
		min-height: 290px;
		background-color: $gray;

		img {
			object-fit: cover;
			display: block;
			width: 100%;
			min-height: 100%;
			border-bottom: 1px solid $blue;
		}
	}

	&__charachteristics {
		display: grid;
		padding: 10px;

		h3 {
			display: -webkit-box;
			max-width: 280px;
			overflow: hidden;
			text-overflow: ellipsis;
			line-clamp: 3;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		p {
			font-size: 14px;
		}
	}

	&__charachteristics_wrapper {
		table {
			min-width: 100%;
		}
		tbody {
			min-width: inherit;
		}

		tbody tr {
			display: flex;
			justify-content: space-between;
			min-width: inherit;
			align-items: center;
		}
	}

	&__cost {
		background-color: $blue;
		color: $white;
		padding: 5px;
		border-radius: 2px;
		font-weight: bold;
	}
}
