@import "./../../variables.scss";

.sidebar {
	font-family: $primary-font;
	display: grid;
	background-color: blue;
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;
	align-items: center;
	min-height: 100%;
	left: -50px;
	width: 50px;
	align-items: center;
	border-right: 1px solid orange;

	@media screen and (min-width: $middle) {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		font-size: 14px;
		position: static;
		transform: translate(0, 0);
		background: none;
		border: none;
		min-width: 100%;
		margin: 0 auto;
	}

	@media screen and (min-width: $desktop) {
		min-width: 60%;
	}
	&__wrapper {
		min-height: 60%;
		display: grid;

		@media screen and (min-width: $middle) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
		}

		li a {
			display: grid;
			justify-items: center;
			color: $black;
			transition: 0.3s ease-in-out;
			border: 2px solid transparent;
			padding: 5px;
			font-size: 16px;
			font-weight: 600;
			text-align: center;

			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 0.6;
			}
			&:focus {
				opacity: 0.8;
				outline: none;
				border: 2px solid $blue;
				border-radius: 5px;
			}
		}
	}
}
