//colors
$orange: rgb(255, 149, 0);
$blue: rgb(80, 135, 255);
$black: black;
$white: white;
$antiquewhite: antiquewhite;
$transparent: transparent;

//fonts
$primary-font: Arial, sans-serif;

//screen breakpoints
$middle: 768px;
$desktop: 1200px;
