//colors
$black: black;
$white: white;
$transparent: transparent;

$orange: rgb(255, 149, 0);
$blue: blue;
$blue1: rgb(80, 135, 255);
$antiquewhite: antiquewhite;
$gray: rgb(212, 212, 212);
$green: green;
$white-1: rgb(238, 238, 238);
//fonts
$default-font: "Arial", sans-serif;
$primary-font: "PoiretOne", "Arial", sans-serif;
$font: "PoiretOne", "Arial", sans-serif;
//screen breakpoints
$middle: 768px;
$desktop: 1200px;
