//colors
$black: black;
$white: white;
$transparent: transparent;

$orange: rgb(255, 149, 0);
$blue: rgb(80, 135, 255);
$antiquewhite: antiquewhite;
$gray: rgb(212, 212, 212);

//fonts
$default-font: 'Arial', sans-serif;
$primary-font: 'PoiretOne', 'Arial', sans-serif;

//screen breakpoints
$middle: 768px;
$desktop: 1200px;
